@section styles{ 
<link href="~/Styles/AboutStyleSheet.css" rel="stylesheet" />
}

<div id="infoTextAbout">
    <h1>About WindCatchers</h1>

    <p>WindCatchers is a project dedicated to presenting the speeds and routes of sail boats using weather data and VPP diagrams.</p><br />
    <p>It is a final project of Academy and was created between the fourth and fifteenth of December 2017</p>
</div>