@model AddBoatVM
<link href="~/Styles/AddBoatStyleSheet.css" rel="stylesheet" />
<div id="AddBoatDiv">
    <form asp-controller="Home" asp-action="">
        <input asp-for="Modelname" />
        <input asp-for="Manufacturer" />
        <input asp-for="Boatname" />
        <div id="AngleTwsKnotInput">
            <input asp-for="VppList[0].TWS" />
            <input asp-for="VppList[0].WindDirection" />
            <input asp-for="VppList[0].Knot" />
        </div>
        <input type="button" value="Add row" id="AddRowButton"/>
        <input type="submit" value="Save" />
    </form>
</div>
