@section styles{
    <link href="~/Styles/ContactStyleSheet.css" rel="stylesheet" />
}
<img style="width:100%;"src="~/Images/Contact1.jpg" />
<div id="infoTextContact">
    <h2>Development Team</h2>
    <div class="devs" style="height: 160px;">
        <ul>
            <li><img src="http://www.torontogarlicfestival.ca/wp-content/uploads/2014/04/portrait-placeholder.png" style="width:100px;height:120px;"></li>
        </ul>
        <ul>
            <li>
            <li><b>Robin Lundqvist</b></li>
            <li>Academic Work</li>
            <li>Junior C# Developer</li>
            <li>+46700000000</li>
            <li>
                <a href="mailto:mail@mail.se?Subject=Final%20Project%20Academy%202017" target="_top">mail@mail.se</a>
            </li>
        </ul>
    </div>
    <div class="devs" style="height: 160px;">
        <ul>
            <li><img src="http://www.torontogarlicfestival.ca/wp-content/uploads/2014/04/portrait-placeholder.png" style="width:100px;height:120px;"></li>
        </ul>
        <ul>
            <li>
            <li><b>Mattias Lij</b></li>
            <li>Academic Work</li>
            <li>Junior C# Developer</li>
            <li>+46700000000</li>
            <li>
                <a href="mailto:mail@mail.se?Subject=Final%20Project%20Academy%202017" target="_top">mail@mail.se</a>
            </li>
        </ul>
    </div>
    <div class="devs" style="height: 160px;">
        <ul>
            <li><img src="http://www.torontogarlicfestival.ca/wp-content/uploads/2014/04/portrait-placeholder.png" style="width:100px;height:120px;"></li>
        </ul>
        <ul>
            <li>
            <li><b>Tobias Rondin</b></li>
            <li>Academic Work</li>
            <li>Junior C# Developer</li>
            <li>+46700000000</li>
            <li>
                <a href="mailto:mail@mail.se?Subject=Final%20Project%20Academy%202017" target="_top">mail@mail.se</a>
            </li>
        </ul>
    </div>
    <div class="devs" style="height: 160px;">
        <ul>
            <li><img src="http://www.torontogarlicfestival.ca/wp-content/uploads/2014/04/portrait-placeholder.png" style="width:100px;height:120px;"></li>
        </ul>
        <ul>
            <li>
            <li><b>Mikael Angelstam</b></li>
            <li>Academic Work</li>
            <li>Junior C# Developer</li>
            <li>+46700000000</li>
            <li>
                <a href="mailto:mail@mail.se?Subject=Final%20Project%20Academy%202017" target="_top">mail@mail.se</a>
            </li>
        </ul>
    </div>
    <div class="devs" style="height: 160px;">
        <ul>
            <li><img src="http://www.torontogarlicfestival.ca/wp-content/uploads/2014/04/portrait-placeholder.png" style="width:100px;height:120px;"></li>
        </ul>
        <ul>
            <li>
            <li><b>Alexander Krasse</b></li>
            <li>Academic Work</li>
            <li>Junior C# Developer</li>
            <li>+46704915221</li>
            <li>
                <a href="mailto:alekra76@kth.se?Subject=Final%20Project%20Academy%202017" target="_top">alekra76@kth.se</a>
            </li>
        </ul>
    </div>
</div>

