<link href="~/Styles/IndexStyleSheet.css" rel="stylesheet" />

<div class="image-background">
    <img src="~/Images/Home.jpg" style="width:100%" />
    <div class="Index">
        <span class="spanlogo"><span>WIND</span><span id="red">CATCHAHZ</span><span>™</span></span>
    </div>
    </div>