<link href="~/Styles/IndexStyleSheet.css" rel="stylesheet" />

<div class="image-background">
    <div class="Index">
        <span class="spanlogo"><span>WIND</span><span id="red">CATCHERS</span><span>™</span></span>
        <br />
        <br />
        <span class="spanText">Calculate the time and speed for your sailing route</span>
        <br />
        <br />
        @*<span class="spanlogo"><a href="/home/Route">Plan your route</a></span>*@
    </div>
    </div>