@section styles{
    <link href="~/Styles/PresentationStyleSheet.css" rel="stylesheet" />
}

<div style="margin:5%">
    <center><iframe src="https://onedrive.live.com/embed?cid=133AEA59C6ED1343&resid=133AEA59C6ED1343%21281&authkey=ABmlBsK8LiA4Xhs&em=2" width="70%" height="500" frameborder="0" scrolling="no"></iframe></center>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Scripts/PresentationJavaScript.js"></script>