@section styles{
    <link href="~/Styles/RouteStyleSheet.css" rel="stylesheet" />
}

<div class="Map-container">
    <div class="Map" id="Map"></div>
    <div class="Route-data"></div>
    <div id="divdata">
        <div id="divdatatable">Route Data</div>
        <table id="routeDiv">
            <tr>
                <td>Start:</td>
            </tr>
            <tr>
                <th class="startDestHead">Latitude</th>
                <td id="latitudeInfo1"></td>
            </tr>
            <tr>
                <th class="startDestHeadLine">Longitude</th>
                <td id="longitudeInfo1" class="bottomLine"></td>
            </tr>
            <tr>
                <td>Destination:</td>
            </tr>
            <tr>
                <th class="startDestHead">Latitude</th>
                <td  id="latitudeInfo2"></td>
            </tr>
            <tr>
                <th class="startDestHeadLine">Longitude</th>
                <td class="bottomLine" id="longitudeInfo2"></td>
            </tr>

            <tr>
                <th>Map API</th>
                <td>Google Maps</td>
            </tr>
            <tr>
                <th>Wind API</th>
                <td>SMHI</td>
            </tr>
            <tr>
                <th>VPP</th>
                <td>Hanse 370</td>
            </tr>
            <tr>
                <th>Distance:</th>
                <td id="distanceInfo"></td>
            </tr>
            <tr>
                <th>Duration:</th>
                <td id="durationInfo"></td>
            </tr>
            <tr>
                <th>Departure:</th>
                <td id="departureInfo"></td>
            </tr>
            <tr>
                <th>ETA:</th>
                <td id="etaInfo"></td>
            </tr>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/RouteJavaScript.js"></script>
    <script src="~/Scripts/MapIntegration.js"></script>
    @*@*Utvecklingnyckel*@
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUJEHjY43pTfNYN8jxgDiZ23HvslS_YH0&callback=initiateMap">
    </script>

    @*Deploy nyckel - använd vid uppsmackning på webb*@
    @*<script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9rdRh5jniAD0TYjDIRhSqQP5ZLf6p5P4&callback=initiateMap">
        </script>*@

}