@model AccountLoginVM
@section styles{
    <link href="~/Styles/LogInStyleSheet.css" rel="stylesheet" />
}
<img style="width:100% " src="~/Images/Login.jpg" />
<div class="LoginDiv">
    <h1>Login</h1>
    <div class="loginDiv">
        <form asp-action="Login" asp-controller="Account" id="loginForm">
            <div id="loginTable">

                <label asp-for="UserName"></label>
                <br />
                <input asp-for="UserName" />
                <br />
                <span asp-validation-for="UserName"></span>
                <br />
                <label asp-for="Password"></label>
                <br />
                <input asp-for="Password" />
                <br />
                <span asp-validation-for="Password"></span>

            </div>
            <br />

            <input type="submit" value="Login" />
        </form>
    </div>
</div>

@section scripts{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}