@model AccountNewuserVM
@section styles{
    <link href="~/Styles/LogInStyleSheet.css" rel="stylesheet" />
}
<div class="LoginDiv">
    <h1>New Sailor</h1>
    <div id="loginTable">
        <form asp-action="NewUser" asp-controller="Account">
            <label asp-for="UserName"></label>
            <br />
            <input asp-for="UserName" />
            <br />
            <span asp-validation-for="UserName"></span>
            <br />
            <label asp-for="Password"></label>
            <br />
            <input asp-for="Password" />
            <br />
            <span asp-validation-for="Password"></span>
            <br />
            <label asp-for="Email"></label>
            <br />
            <input asp-for="Email" />
            <br />
            <br />
            <input type="submit" value="Create user" />
        </form>
    </div>
</div>