.Nav-Index {

    background-color: black;
}
body {
    background-color: white;
    margin:0;
    top:0;
    padding:0;
}
.aboutimg {
    width: 100%;
}

#infoTextAbout {
    
    padding-top: 5%;
    color: black;
    font-family: arial, sans-serif;
    width: 60%;
    margin-left:20%;
}
h2,h3 {
    color: #1daee1;
}
ul {
    list-style-type: square
}

figure {
    font-family: 'Times New Roman', sans-serif;
    text-align:center;
}
#midpoint{
    width:80%;
}
