
/*.AddBoatDiv {
    height: 80%;
    margin: 0;
    margin-top: 50px;
    position: center;
    position: fixed;
    width: 40%;
    z-index: 2;
    background-color: red;
    left:30%;
}*/
.AddBoatDiv {
    position: fixed;
    left: 20%;
    width: 55%;
    top: 100px;
    max-height: 80%;
    overflow-y: scroll;
    color: black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    /*font-family: 'Open Sans', sans-serif;*/
    background-color: rgba(255, 255, 255, 0.8);
    font-family: arial, sans-serif;
    font-size: 18px;
    display: inline;
}
#VppInputTable {
    font-family: arial, sans-serif;
    width: 70%;
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
    max-height: 200px;
    overflow-y: scroll;
    color: black;
    font-size: 14px;
}

input[type=submit], input[type=button] {
    border: none;
    color: white;
    width: 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
    background-color: black;
    color: white;
}
    input[type=submit]:hover, input[type=button]:hover {
        
    }

.CenterContent {
    margin: 150px auto;
    position: relative;
}



/*#VppInputTable tr:nth-child(even) {
    background-color: #1daee1;
}
#VppInputTable tr:nth-child(odd) {
    background-color: #123c9e;
}*/