@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: black;
}



.Map-container {
    height: 100%;
    background-color: yellow;
    margin:0;
    position: center;
    position: fixed;
    width: 100%;
    z-index: 2;

}
.Map {
    height: 100%;
    width: 100%;
    background-color: blue;
}

#divdata {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 40px;
    transition: top 0.5s ease;
    transition: background-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    left: 80%;
    font-size:24px;
}

#divdatatable {
    font-family: 'Open Sans', sans-serif;
    cursor: move;
    z-index: 10;
    background-color: #1daee1;
    color: #fff;
    width: 250px;
    padding: 10px;
}

/*#divdatatable table{
   
}*/
